In [1]:
import pandas as pd

In [ ]:
a = pd.Series([1,2,3,4,5],index=['pertamax','b','c','d','e'])

In [ ]:
print(a)

In [ ]:
print(a[['c','e']])

In [ ]:
df = pd.DataFrame([[1,2,3,4],[5,6,7,8],[9,3,4,5],[4,5,7,5],[6,7,8,9],[7,4,6,5]],columns=['a','b','c','d'])

In [ ]:
print(df)

In [ ]:
print(df.columns)

In [ ]:
print(df['a'])

In [ ]:
print(df[['a','b']])

In [ ]:
print(df[['a','b']].iloc[1])

In [ ]:
print(df[['a','b']].iloc[1:4])

In [ ]:
print(df.shape)

In [ ]:
print(df.values)

In [ ]:
for x in df.values:
    if x[1]>5:
        print(x[1],x[2])

In [2]:
data = []
for x in range(100):
    data.append([x,x*2,(x*10/2),((-x*100)+(-x*10/3))])
df = pd.DataFrame(data)

In [3]:
df

     0    1      2             3
0    0    0    0.0      0.000000
1    1    2    5.0   -103.333333
2    2    4   10.0   -206.666667
3    3    6   15.0   -310.000000
4    4    8   20.0   -413.333333
..  ..  ...    ...           ...
95  95  190  475.0  -9816.666667
96  96  192  480.0  -9920.000000
97  97  194  485.0 -10023.333333
98  98  196  490.0 -10126.666667
99  99  198  495.0 -10230.000000

[100 rows x 4 columns]

In [6]:
df.shape

(100, 4)

In [6]:
from random import randint,uniform

In [15]:
t = randint(400,450)+(randint(1,999)/1000)
t

410.89

In [9]:
randint(1,999)/1000

0.333

In [16]:
uniform(1,5)

2.518220227120845

In [13]:
data = []
for x in range(100):
    data.append([x,(x*2)*uniform(1,5),(x*10/2)+randint(-10,50),(-1)*(((x*100)-(x*10/3))*uniform(1,2))])
df = pd.DataFrame(data)

In [14]:
print(df)

     0           1      2             3
0    0    0.000000   -5.0     -0.000000
1    1    5.727009   -3.0   -119.573767
2    2   11.338088   15.0   -372.061327
3    3   24.552549   29.0   -491.351171
4    4   23.928199   24.0   -661.829095
..  ..         ...    ...           ...
95  95  441.303317  485.0 -13027.818819
96  96  468.917453  489.0 -13884.121006
97  97  286.842374  493.0 -15089.553163
98  98  321.703755  498.0 -17435.347268
99  99  199.877151  496.0 -15968.403508

[100 rows x 4 columns]

In [15]:
df.describe()

                0           1           2             3
count  100.000000  100.000000  100.000000    100.000000
mean    49.500000  279.709889  269.380000  -7354.324713
std     29.011492  189.177889  147.494892   4807.557315
min      0.000000    0.000000   -5.000000 -17435.347268
25%     24.750000  126.509228  147.500000 -10602.524834
50%     49.500000  246.266055  270.000000  -7251.547672
75%     74.250000  421.343077  391.750000  -3375.622248
max     99.000000  808.557205  510.000000     -0.000000

In [16]:
for x in ['pearson','kendall','spearman']:
    print(x,df.corr(method=x),sep="\n",end="\n\n")

pearson
          0         1         2         3
0  1.000000  0.770354  0.993925 -0.945122
1  0.770354  1.000000  0.771831 -0.733104
2  0.993925  0.771831  1.000000 -0.932098
3 -0.945122 -0.733104 -0.932098  1.000000

kendall
          0         1         2         3
0  1.000000  0.632323  0.936919 -0.829091
1  0.632323  1.000000  0.632430 -0.603636
2  0.936919  0.632430  1.000000 -0.801052
3 -0.829091 -0.603636 -0.801052  1.000000

spearman
          0         1         2         3
0  1.000000  0.814077  0.994212 -0.955308
1  0.814077  1.000000  0.812413 -0.797600
2  0.994212  0.812413  1.000000 -0.943116
3 -0.955308 -0.797600 -0.943116  1.000000

In [25]:
data = []
for x in range(100):
    data.append([1,2,3,4])
df = pd.DataFrame(data)

In [17]:
df.cov()

               0              1              2             3
0     841.666667    4227.957007    4253.050505 -1.318203e+05
1    4227.957007   35788.273640   21536.220435 -6.667463e+05
2    4253.050505   21536.220435   21754.743030 -6.609415e+05
3 -131820.337155 -666746.289710 -660941.478321  2.311261e+07

In [18]:
dfsq = df.diff()
dfsq

      0           1     2            3
0   NaN         NaN   NaN          NaN
1   1.0    5.727009   2.0  -119.573767
2   1.0    5.611079  18.0  -252.487560
3   1.0   13.214461  14.0  -119.289844
4   1.0   -0.624350  -5.0  -170.477924
..  ...         ...   ...          ...
95  1.0  197.706486 -13.0 -2621.903153
96  1.0   27.614137   4.0  -856.302187
97  1.0 -182.075079   4.0 -1205.432156
98  1.0   34.861381   5.0 -2345.794105
99  1.0 -121.826605  -2.0  1466.943760

[100 rows x 4 columns]

In [19]:
dfsq.describe()

          0           1          2            3
count  99.0   99.000000  99.000000    99.000000
mean    1.0    2.018961   5.060606  -161.297005
std     0.0  157.965195  23.061948  2123.235032
min     1.0 -416.347816 -47.000000 -6709.018728
25%     1.0  -94.850553 -11.500000 -1186.272879
50%     1.0   -0.624350   5.000000  -321.214068
75%     1.0   78.242662  23.500000  1005.151677
max     1.0  553.868390  49.000000  6670.296135

In [31]:
df

     0           1      2             3
0    0    0.000000   -1.0      0.000000
1    1    4.655493   11.0    188.925435
2    2   14.297129   48.0    194.679650
3    3    8.662156   59.0    488.647571
4    4   36.480999   10.0    387.357960
..  ..         ...    ...           ...
95  95  619.837151  514.0  13346.125714
96  96  604.020177  471.0   9282.878082
97  97  898.342262  490.0  11495.997666
98  98  605.441056  524.0  13086.373033
99  99  267.300197  494.0  18677.884620

[100 rows x 4 columns]

In [35]:
df.var()

0    8.416667e+02
1    5.158305e+04
2    2.172282e+04
3    2.145200e+07
dtype: float64