In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../bigdata/vgsales.csv')

In [3]:
df.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [4]:
summary = df[['NA_Sales','EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']].describe()
print(summary)

           NA_Sales      EU_Sales      JP_Sales   Other_Sales  Global_Sales
count  16598.000000  16598.000000  16598.000000  16598.000000  16598.000000
mean       0.264667      0.146652      0.077782      0.048063      0.537441
std        0.816683      0.505351      0.309291      0.188588      1.555028
min        0.000000      0.000000      0.000000      0.000000      0.010000
25%        0.000000      0.000000      0.000000      0.000000      0.060000
50%        0.080000      0.020000      0.000000      0.010000      0.170000
75%        0.240000      0.110000      0.040000      0.040000      0.470000
max       41.490000     29.020000     10.220000     10.570000     82.740000

Apa arti 25%, 50% dan 75% pada fungsi .describe?

In [5]:
print(summary['NA_Sales'].loc['75%'])

0.24

Discretization mengubah data apa?

In [6]:
def discretization(attr):
    inp = list(df[attr].to_numpy())
    midi = df[attr].describe()
    out = []
    for x in inp:
        if(x<=float(midi.loc['25%'])):
            out.append(0)
        elif(x>float(midi.loc['25%']) and x<=float(midi.loc['50%'])):
            out.append(1)
        elif(x>float(midi.loc['50%']) and x<=float(midi.loc['75%'])):
            out.append(2)
        else:
            out.append(3)
    return out

In [7]:
def multiDiscretization(attrs):
    df_desc = pd.DataFrame()
    for x in attrs:
        df_desc[x] = pd.Series(discretization(x),index=df.index)
    return df_desc

In [8]:
df_desc = multiDiscretization(['NA_Sales','EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'])

In [9]:
print(df_desc)

       NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0             3         3         3            3             3
1             3         3         3            3             3
2             3         3         3            3             3
3             3         3         3            3             3
4             3         3         3            3             3
...         ...       ...       ...          ...           ...
16593         1         0         0            0             0
16594         1         0         0            0             0
16595         0         0         0            0             0
16596         0         1         0            0             0
16597         1         0         0            0             0

[16598 rows x 5 columns]

<em>.pivot_table</em> berfungsi untuk apa?

In [10]:
pt = df.pivot_table(index=['NA_Sales','EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'], aggfunc='size')
print (pt)

NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0.00      0.00      0.00      0.00         0.01              1
                              0.18         0.18              1
                    0.01      0.00         0.01            313
                    0.02      0.00         0.02            471
                                           0.03              3
                                                          ...
15.85     12.88     3.79      3.31         35.82             1
23.20     2.26      4.22      0.58         30.26             1
26.93     0.63      0.28      0.47         28.31             1
29.08     3.58      6.81      0.77         40.24             1
41.49     29.02     3.77      8.46         82.74             1
Length: 6774, dtype: int64

In [11]:
pt_desc = df_desc.pivot_table(index=['NA_Sales','EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'], aggfunc='size')
print (pt_desc)

NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0         0         0         0            0                  1
                              3            2                  1
                    2         0            0               1350
                              2            1                  1
                    3         0            0                363
                                                           ...
3         3         2         3            3                388
                    3         0            3                  1
                              1            3                 10
                              2            3                105
                              3            3                731
Length: 288, dtype: int64

In [15]:
df[['NA_Sales','EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']].corr()

              NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
NA_Sales      1.000000  0.767727  0.449787     0.634737      0.941047
EU_Sales      0.767727  1.000000  0.435584     0.726385      0.902836
JP_Sales      0.449787  0.435584  1.000000     0.290186      0.611816
Other_Sales   0.634737  0.726385  0.290186     1.000000      0.748331
Global_Sales  0.941047  0.902836  0.611816     0.748331      1.000000

In [16]:
df['Genre'].unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

String indexer mengubah data apa?

In [17]:
def stringIndexer(attr):
    uni = list(df[attr].unique())
    inp = list(df[attr].to_numpy())
    out = []
    for x in inp:
        out.append(uni.index(x))
    return out

In [18]:
def multiStringIndexer(attrs):
    for x in attrs:
        df[x+'_index'] = pd.Series(stringIndexer(x),index=df.index)

In [19]:
multiStringIndexer(['Platform','Genre','Publisher'])

In [20]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Platform_index,Genre_index,Publisher_index
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74,0,0,0
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,1,1,0
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82,0,2,0
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00,0,0,0
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,2,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01,8,1,188
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01,18,6,52
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01,6,2,4
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01,3,4,508
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,8,1,171

In [15]:
df.corr()

C:\Users\wirar\AppData\Local\Temp\ipykernel_9796\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Platform_index,Genre_index,Publisher_index
Rank,1.000000,0.178814,-0.401362,-0.379123,-0.267785,-0.332986,-0.427407,0.143405,0.140260,0.426074
Year,0.178814,1.000000,-0.091402,0.006014,-0.169316,0.041058,-0.074735,-0.124849,0.124013,0.094037
NA_Sales,-0.401362,-0.091402,1.000000,0.767727,0.449787,0.634737,0.941047,-0.087218,-0.060087,-0.142851
EU_Sales,-0.379123,0.006014,0.767727,1.000000,0.435584,0.726385,0.902836,-0.070409,-0.047161,-0.131251
JP_Sales,-0.267785,-0.169316,0.449787,0.435584,1.000000,0.290186,0.611816,-0.044622,-0.052148,-0.083492
Other_Sales,-0.332986,0.041058,0.634737,0.726385,0.290186,1.000000,0.748331,-0.081278,-0.039744,-0.116289
Global_Sales,-0.427407,-0.074735,0.941047,0.902836,0.611816,0.748331,1.000000,-0.087424,-0.062067,-0.148346
Platform_index,0.143405,-0.124849,-0.087218,-0.070409,-0.044622,-0.081278,-0.087424,1.000000,0.057640,0.087024
Genre_index,0.140260,0.124013,-0.060087,-0.047161,-0.052148,-0.039744,-0.062067,0.057640,1.000000,0.139236
Publisher_index,0.426074,0.094037,-0.142851,-0.131251,-0.083492,-0.116289,-0.148346,0.087024,0.139236,1.000000

In [17]:
from random import randint,uniform

In [18]:
data = []
cols = ['a','b','c','d']
for i in range(500):
    a = randint(1,10)
    b = ((a/2)*10)+uniform(1,8)
    c = b*uniform(0,2)+a
    d = c*100/a
    data.append([a,b,c,d])
df = pd.DataFrame(data,columns=cols)

In [19]:
df.corr()

          a         b         c         d
a  1.000000  0.991071  0.613352 -0.268827
b  0.991071  1.000000  0.612596 -0.253680
c  0.613352  0.612596  1.000000  0.478547
d -0.268827 -0.253680  0.478547  1.000000

In [20]:
df.describe()

                a           b           c            d
count  500.000000  500.000000  500.000000   500.000000
mean     5.422000   31.700738   35.369443   704.532657
std      2.883148   14.640145   25.812067   365.902194
min      1.000000    6.058421    1.166429   107.345180
25%      3.000000   19.050296   14.529669   402.257897
50%      5.000000   31.724855   28.622733   709.730331
75%      8.000000   45.042811   49.676202   985.990396
max     10.000000   57.760303  117.604956  1969.668465

In [21]:
df_desc = multiDiscretization(cols)

In [22]:
pt = df.pivot_table(index=cols, aggfunc='size')
print (pt)

a   b          c           d
1   6.058421   8.754461    875.446071     1
    6.078937   10.542112   1054.211163    1
    6.289104   11.116322   1111.632182    1
    6.368627   11.463912   1146.391166    1
    6.460220   4.685753    468.575325     1
                                         ..
10  57.418619  57.706567   577.065672     1
    57.459816  42.292884   422.928836     1
    57.679214  38.189299   381.892985     1
    57.693945  117.604956  1176.049556    1
    57.760303  86.644981   866.449813     1
Length: 500, dtype: int64

In [24]:
pt_desc = df_desc.pivot_table(index=cols, aggfunc='size')
print (pt_desc)

a  b  c  d
0  0  0  0    22
         1    21
         2    17
         3    16
      1  1     7
         2    16
         3    18
      2  3     8
   1  0  0     5
         1     2
      1  1     4
         2    11
      2  2     1
         3    12
1  1  0  0    11
      1  0     3
         1    17
      2  1     4
         2    27
         3    11
      3  3    13
   2  0  0     3
      1  1     1
      2  1     1
         2     1
2  1  1  0     1
      2  1     2
      3  3     1
   2  0  0    15
      1  0    23
         1     6
      2  0     1
         1    29
         2     5
      3  2    18
         3    22
   3  0  0     6
      1  0     3
      2  1     3
      3  1     2
         2     5
         3     5
3  3  0  0     7
      1  0    15
      2  0    10
         1    10
      3  1    16
         2    24
         3    19
dtype: int64

In [25]:
len(pt_desc)

49

<em>zscore</em> melakukan normalisasi data berdasarkan?

In [26]:
df_zscore = pd.DataFrame()
for col in cols:
    df_zscore[col] = (df[col] - df[col].mean())/df[col].std(ddof=0)
print(df_zscore)

            a         b         c         d
0   -1.535276 -1.751858 -0.962813  0.956618
1   -0.493705 -0.371301 -0.006200  0.480682
2    0.895057  0.822996 -0.778616 -1.404469
3   -0.493705 -0.380215  0.174463  0.799298
4   -0.840895 -0.912221 -0.665438 -0.266793
..        ...       ...       ...       ...
495  1.242248  1.265360 -0.972251 -1.614347
496 -0.493705 -0.570549 -0.180390  0.173483
497  1.242248  1.298066  2.575009  1.166059
498 -0.840895 -0.674935 -0.261758  0.682441
499 -1.535276 -1.448643 -0.998216  0.706874

[500 rows x 4 columns]

<em>dscale</em> melakukan normalisasi data berdasarkan?

In [28]:
df_dscale = pd.DataFrame()
for col in cols:
    p = df[col].max()
    q = len(str(abs(int(p))))
    df_dscale[col] = df[col]/10**q
print(df_dscale)

        a         b         c         d
0    0.01  0.060789  0.010542  0.105421
1    0.04  0.262703  0.035210  0.088024
2    0.08  0.437375  0.015292  0.019115
3    0.04  0.261399  0.039868  0.099670
4    0.03  0.183591  0.018210  0.060701
..    ...       ...       ...       ...
495  0.09  0.502072  0.010299  0.011443
496  0.04  0.233562  0.030718  0.076795
497  0.09  0.506856  0.101769  0.113077
498  0.03  0.218295  0.028620  0.095399
499  0.01  0.105136  0.009629  0.096292

[500 rows x 4 columns]

In [33]:
10**4

10000

<em>minmax</em> melakukan normalisasi data berdasarkan?

In [54]:
df_minmax = pd.DataFrame()
for col in cols:
    df_minmax[col]=(df[col]-df[col].min())/(df[col].max()-df[col].min())
print(df_minmax)

            a         b         c         d
0    0.111111  0.109633  0.075593  0.161384
1    0.000000  0.013181  0.000000  0.005163
2    1.000000  0.874084  0.383196  0.145903
3    0.666667  0.601146  0.057381  0.005439
4    0.111111  0.123949  0.019586  0.029013
5    0.888889  0.772128  0.252248  0.097751
6    0.555556  0.514472  0.149241  0.085336
7    0.222222  0.209448  0.254757  0.376652
8    0.111111  0.100436  0.092447  0.201218
9    0.111111  0.188847  0.259363  0.595724
10   0.222222  0.203900  0.229482  0.336828
11   0.333333  0.297114  0.259523  0.278191
12   0.666667  0.699578  0.407243  0.241696
13   0.444444  0.433880  0.072173  0.037488
14   0.000000  0.040913  0.133909  0.638150
15   0.888889  0.788665  0.594332  0.277422
16   0.333333  0.407661  0.226807  0.239529
17   0.777778  0.753665  0.234421  0.104402
18   0.000000  0.099691  0.108245  0.516835
19   0.222222  0.224343  0.280384  0.417032
20   0.555556  0.487561  0.503001  0.364040
21   0.444444  0.471732  0.048892  0.015477
22   1.000000  0.893748  0.326429  0.119070
23   1.000000  0.870677  0.813621  0.349365
24   0.222222  0.304602  0.329661  0.494675
25   1.000000  0.948962  0.546027  0.222873
26   0.555556  0.572874  0.063373  0.017687
27   0.111111  0.103814  0.145617  0.326886
28   0.000000  0.091874  0.170439  0.810828
29   0.111111  0.114978  0.085145  0.183961
..        ...       ...       ...       ...
470  1.000000  0.889380  0.335666  0.123436
471  0.111111  0.114660  0.026003  0.044178
472  0.777778  0.802788  0.540634  0.285336
473  0.222222  0.287121  0.324202  0.486074
474  0.333333  0.360803  0.155860  0.155687
475  0.666667  0.579912  0.148578  0.067023
476  0.333333  0.422972  0.226836  0.239563
477  0.111111  0.161907  0.030247  0.054209
478  0.444444  0.451303  0.253758  0.209158
479  0.444444  0.515298  0.478036  0.421191
480  0.222222  0.233744  0.201760  0.293146
481  0.888889  0.775181  0.447446  0.200274
482  0.888889  0.844102  0.778659  0.374234
483  0.333333  0.397477  0.223516  0.235639
484  1.000000  0.873064  0.733758  0.311614
485  0.777778  0.796839  0.473263  0.245528
486  0.555556  0.524446  0.421557  0.299875
487  0.111111  0.108695  0.128873  0.287313
488  0.888889  0.856406  0.336257  0.141875
489  0.444444  0.485685  0.099617  0.063433
490  0.888889  0.796073  0.551065  0.254697
491  0.555556  0.530484  0.164268  0.097175
492  0.888889  0.832451  0.429795  0.191004
493  0.000000  0.112091  0.022490  0.111474
494  1.000000  0.935294  0.924848  0.401942
495  0.666667  0.635936  0.237539  0.127097
496  0.555556  0.486447  0.060113  0.015118
497  0.000000  0.106071  0.183374  0.871970
498  0.333333  0.389664  0.030220  0.007212
499  0.444444  0.500950  0.346021  0.296384

[500 rows x 4 columns]