In [1]:
import pandas as pd

In [46]:
df = pd.read_csv('../vgsales.csv')

In [5]:
df.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [3]:
summary = df[['NA_Sales','EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']].describe()
print(summary)

           NA_Sales      EU_Sales      JP_Sales   Other_Sales  Global_Sales
count  16598.000000  16598.000000  16598.000000  16598.000000  16598.000000
mean       0.264667      0.146652      0.077782      0.048063      0.537441
std        0.816683      0.505351      0.309291      0.188588      1.555028
min        0.000000      0.000000      0.000000      0.000000      0.010000
25%        0.000000      0.000000      0.000000      0.000000      0.060000
50%        0.080000      0.020000      0.000000      0.010000      0.170000
75%        0.240000      0.110000      0.040000      0.040000      0.470000
max       41.490000     29.020000     10.220000     10.570000     82.740000

Apa arti 25%, 50% dan 75% pada fungsi .describe?

In [4]:
print(summary['NA_Sales'].loc['75%'])

0.24

Discretization mengubah data apa?

In [18]:
def discretization(attr):
    inp = list(df[attr].to_numpy())
    midi = df[attr].describe()
    out = []
    for x in inp:
        if(x<=float(midi.loc['25%'])):
            out.append(0)
        elif(x>float(midi.loc['25%']) and x<=float(midi.loc['50%'])):
            out.append(1)
        elif(x>float(midi.loc['50%']) and x<=float(midi.loc['75%'])):
            out.append(2)
        else:
            out.append(3)
    return out

In [19]:
def multiDiscretization(attrs):
    df_desc = pd.DataFrame()
    for x in attrs:
        df_desc[x] = pd.Series(discretization(x),index=df.index)
    return df_desc

In [20]:
df_desc = multiDiscretization(['NA_Sales','EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'])

In [21]:
print(df_desc)

       NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0             3         3         3            3             3
1             3         3         3            3             3
2             3         3         3            3             3
3             3         3         3            3             3
4             3         3         3            3             3
5             3         3         3            3             3
6             3         3         3            3             3
7             3         3         3            3             3
8             3         3         3            3             3
9             3         3         3            3             3
10            3         3         3            3             3
11            3         3         3            3             3
12            3         3         3            3             3
13            3         3         3            3             3
14            3         3         3            3             3
15            3         3         3            3             3
16            3         3         3            3             3
17            3         3         3            3             3
18            3         3         3            3             3
19            3         3         3            3             3
20            3         3         3            3             3
21            3         3         3            3             3
22            3         3         3            3             3
23            3         3         3            3             3
24            3         3         3            3             3
25            3         3         3            3             3
26            3         3         3            3             3
27            3         3         3            3             3
28            3         3         3            3             3
29            3         3         3            3             3
...         ...       ...       ...          ...           ...
16568         0         0         2            0             0
16569         1         0         0            0             0
16570         0         1         0            0             0
16571         0         0         2            0             0
16572         0         0         2            0             0
16573         1         0         0            0             0
16574         0         0         2            0             0
16575         0         0         2            0             0
16576         0         1         0            0             0
16577         0         1         0            0             0
16578         1         0         0            0             0
16579         1         0         0            0             0
16580         0         0         2            0             0
16581         0         1         0            0             0
16582         1         0         0            0             0
16583         1         0         0            0             0
16584         1         0         0            0             0
16585         1         0         0            0             0
16586         0         1         0            0             0
16587         0         0         2            0             0
16588         1         0         0            0             0
16589         0         0         2            0             0
16590         0         0         2            0             0
16591         1         0         0            0             0
16592         1         0         0            0             0
16593         1         0         0            0             0
16594         1         0         0            0             0
16595         0         0         0            0             0
16596         0         1         0            0             0
16597         1         0         0            0             0

[16598 rows x 5 columns]

<em>.pivot_table</em> berfungsi untuk apa?

In [22]:
pt = df.pivot_table(index=['NA_Sales','EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'], aggfunc='size')
print (pt)

NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0.00      0.00      0.00      0.00         0.01              1
                              0.18         0.18              1
                    0.01      0.00         0.01            313
                    0.02      0.00         0.02            471
                                           0.03              3
                    0.03      0.00         0.03            333
                    0.04      0.00         0.04            229
                                           0.05              1
                              0.03         0.07              1
                    0.05      0.00         0.05            193
                                           0.06              3
                              0.05         0.10              1
                              0.07         0.12              1
                    0.06      0.00         0.06            167
                                           0.07              5
                              0.03         0.09              1
                    0.07      0.00         0.07            137
                                           0.08              1
                              0.01         0.08              2
                    0.08      0.00         0.08            116
                                           0.09              2
                              0.01         0.08              3
                                           0.09              4
                    0.09      0.00         0.09             85
                                           0.10              2
                              0.01         0.09              4
                                           0.10              5
                              0.06         0.15              1
                    0.10      0.00         0.10             82
                              0.01         0.10              1
                                                          ...
7.01      9.27      0.97      4.14         21.40             1
7.03      1.98      0.08      0.78         9.88              1
7.28      0.45      0.00      0.08         7.81              1
7.97      2.83      0.13      1.21         12.14             1
8.25      4.30      0.07      1.12         13.73             1
8.41      5.49      0.47      1.78         16.15             1
8.52      3.63      0.08      1.29         13.51             1
8.94      8.03      3.60      2.15         22.72             1
9.00      6.18      7.20      0.71         23.10             1
9.03      4.28      0.13      1.32         14.76             1
9.07      11.00     1.93      2.75         24.76             1
9.09      8.59      2.53      1.79         22.00             1
9.43      0.40      0.41      10.57        20.81             1
9.54      3.44      3.84      0.46         17.28             1
9.63      5.31      0.06      1.38         16.38             1
9.67      3.73      0.11      1.13         14.64             1
9.81      7.57      4.13      1.92         23.42             1
10.83     2.71      4.18      0.42         18.14             1
11.27     8.89      10.22     1.00         31.37             1
11.38     9.23      6.50      2.90         30.01             1
12.78     3.75      3.54      0.55         20.61             1
14.03     9.20      2.93      2.85         29.02             1
14.59     7.06      4.70      2.26         28.62             1
14.97     4.94      0.24      1.67         21.82             1
15.75     11.01     3.28      2.96         33.00             1
15.85     12.88     3.79      3.31         35.82             1
23.20     2.26      4.22      0.58         30.26             1
26.93     0.63      0.28      0.47         28.31             1
29.08     3.58      6.81      0.77         40.24             1
41.49     29.02     3.77      8.46         82.74             1
Length: 6774, dtype: int64

In [23]:
pt_desc = df_desc.pivot_table(index=['NA_Sales','EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'], aggfunc='size')
print (pt_desc)

NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0         0         0         0            0                  1
                              3            2                  1
                    2         0            0               1350
                              2            1                  1
                    3         0            0                363
                                           1                803
                                           2                472
                                           3                148
                              1            1                 67
                                           2                 48
                                           3                 12
                              2            1                  3
                                           2                 58
                                           3                 23
                              3            1                  3
                                           2                  5
                                           3                 17
          1         0         0            0                430
                              1            0                 39
                              3            1                  2
                                           2                  1
                    2         0            0                  9
                    3         0            1                 10
                                           2                  4
                              1            2                  1
          2         0         0            0                 99
                                           1                  7
                              1            0                188
                                           1                 66
                              2            0                  3
                                                           ...
3         2         0         3            3                109
                    2         1            2                  1
                                           3                  1
                              2            2                 15
                                           3                  8
                              3            3                 27
                    3         0            3                  4
                              1            2                  4
                                           3                 20
                              2            2                  4
                                           3                 46
                              3            2                  2
                                           3                 35
          3         0         0            3                  4
                              1            2                 22
                                           3                 81
                              2            2                 40
                                           3                227
                              3            2                  4
                                           3               1119
                    2         0            3                  1
                              1            3                  2
                              2            2                  3
                                           3                 27
                              3            2                  1
                                           3                388
                    3         0            3                  1
                              1            3                 10
                              2            3                105
                              3            3                731
Length: 288, dtype: int64

In [47]:
df.corr()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,1.000000,0.178814,-0.401362,-0.379123,-0.267785,-0.332986,-0.427407
Year,0.178814,1.000000,-0.091402,0.006014,-0.169316,0.041058,-0.074735
NA_Sales,-0.401362,-0.091402,1.000000,0.767727,0.449787,0.634737,0.941047
EU_Sales,-0.379123,0.006014,0.767727,1.000000,0.435584,0.726385,0.902836
JP_Sales,-0.267785,-0.169316,0.449787,0.435584,1.000000,0.290186,0.611816
Other_Sales,-0.332986,0.041058,0.634737,0.726385,0.290186,1.000000,0.748331
Global_Sales,-0.427407,-0.074735,0.941047,0.902836,0.611816,0.748331,1.000000

String indexer mengubah data apa?

In [48]:
def stringIndexer(attr):
    uni = list(df[attr].unique())
    inp = list(df[attr].to_numpy())
    out = []
    for x in inp:
        out.append(uni.index(x))
    return out

In [49]:
def multiStringIndexer(attrs):
    for x in attrs:
        df[x+'_index'] = pd.Series(stringIndexer(x),index=df.index)

In [50]:
multiStringIndexer(['Platform','Genre','Publisher'])

In [51]:
df.corr()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Platform_index,Genre_index,Publisher_index
Rank,1.000000,0.178814,-0.401362,-0.379123,-0.267785,-0.332986,-0.427407,0.143405,0.140260,0.426074
Year,0.178814,1.000000,-0.091402,0.006014,-0.169316,0.041058,-0.074735,-0.124849,0.124013,0.094037
NA_Sales,-0.401362,-0.091402,1.000000,0.767727,0.449787,0.634737,0.941047,-0.087218,-0.060087,-0.142851
EU_Sales,-0.379123,0.006014,0.767727,1.000000,0.435584,0.726385,0.902836,-0.070409,-0.047161,-0.131251
JP_Sales,-0.267785,-0.169316,0.449787,0.435584,1.000000,0.290186,0.611816,-0.044622,-0.052148,-0.083492
Other_Sales,-0.332986,0.041058,0.634737,0.726385,0.290186,1.000000,0.748331,-0.081278,-0.039744,-0.116289
Global_Sales,-0.427407,-0.074735,0.941047,0.902836,0.611816,0.748331,1.000000,-0.087424,-0.062067,-0.148346
Platform_index,0.143405,-0.124849,-0.087218,-0.070409,-0.044622,-0.081278,-0.087424,1.000000,0.057640,0.087024
Genre_index,0.140260,0.124013,-0.060087,-0.047161,-0.052148,-0.039744,-0.062067,0.057640,1.000000,0.139236
Publisher_index,0.426074,0.094037,-0.142851,-0.131251,-0.083492,-0.116289,-0.148346,0.087024,0.139236,1.000000

In [24]:
from random import randint,uniform

In [53]:
data = []
cols = ['a','b','c','d']
for i in range(500):
    a = randint(1,10)
    b = ((a/2)*10)+uniform(1,8)
    c = b*uniform(0,2)+a
    d = c*100/a
    data.append([a,b,c,d])
df = pd.DataFrame(data,columns=cols)

In [35]:
df.corr()

          a         b         c         d
a  1.000000  0.990532  0.639689 -0.242929
b  0.990532  1.000000  0.640542 -0.224004
c  0.639689  0.640542  1.000000  0.455812
d -0.242929 -0.224004  0.455812  1.000000

In [36]:
df.describe()

                a           b           c            d
count  500.000000  500.000000  500.000000   500.000000
mean     5.446000   31.704365   36.899239   726.571708
std      2.838167   14.184108   26.736366   388.006574
min      1.000000    6.184043    1.712282   102.584809
25%      3.000000   19.877284   15.176794   406.172762
50%      5.000000   31.440077   29.020282   722.671601
75%      8.000000   43.751236   53.328290  1007.319959
max     10.000000   57.650492  114.263876  2105.167259

In [37]:
df_desc = multiDiscretization(cols)

In [38]:
pt = df.pivot_table(index=cols, aggfunc='size')
print (pt)

a   b          c           d
1   6.184043   11.306710   1130.671040    1
    6.427938   7.765128    776.512759     1
    6.448457   10.033257   1003.325749    1
    6.514645   3.696909    369.690866     1
    6.520501   2.128363    212.836292     1
    6.675520   5.210071    521.007109     1
    6.741157   10.103434   1010.343420    1
    6.914254   3.879941    387.994063     1
    6.951927   3.196151    319.615094     1
    6.985385   11.417967   1141.796745    1
    7.195145   14.045573   1404.557271    1
    7.581023   13.413485   1341.348533    1
    7.959681   3.764619    376.461903     1
    8.064836   6.595838    659.583772     1
    8.278684   11.713014   1171.301443    1
    8.592290   15.922851   1592.285075    1
    8.600296   13.368337   1336.833676    1
    8.768293   3.083282    308.328152     1
    8.783069   5.018280    501.828047     1
    9.064557   18.816373   1881.637263    1
    9.084889   5.291914    529.191386     1
    9.152514   4.854650    485.465046     1
    9.163302   18.711491   1871.149089    1
    9.248037   14.709466   1470.946599    1
    9.279739   9.917955    991.795538     1
    9.457297   16.224651   1622.465051    1
    9.616489   6.189806    618.980611     1
    9.819420   2.709157    270.915655     1
    9.885391   4.899709    489.970889     1
    9.886721   12.431226   1243.122578    1
                                         ..
10  52.666736  38.507402   385.074023     1
    52.986484  62.332947   623.329469     1
    53.005799  13.960359   139.603590     1
    53.300931  113.114440  1131.144403    1
    54.046381  103.670856  1036.708560    1
    54.147836  56.269950   562.699504     1
    54.237564  17.636943   176.369426     1
    54.253616  11.085944   110.859443     1
    54.593207  32.045501   320.455006     1
    54.775795  52.158566   521.585665     1
    55.248004  85.044829   850.448292     1
    55.357055  59.171690   591.716895     1
    55.663683  61.012891   610.128913     1
    55.755275  77.393406   773.934064     1
    56.085954  29.973099   299.730990     1
    56.126995  11.990754   119.907538     1
    56.171530  92.685530   926.855296     1
    56.458020  14.323775   143.237750     1
    56.526599  97.778238   977.782377     1
    56.536706  14.081004   140.810036     1
    56.573959  66.437332   664.373322     1
    56.747247  98.366941   983.669413     1
    56.785200  50.718666   507.186665     1
    57.042730  69.963916   699.639162     1
    57.055160  47.448571   474.485705     1
    57.057601  96.397501   963.975008     1
    57.312370  69.927273   699.272732     1
    57.425112  87.812790   878.127900     1
    57.472091  89.816021   898.160208     1
    57.650492  19.738040   197.380399     1
Length: 500, dtype: int64

In [39]:
pt_desc = df_desc.pivot_table(index=cols, aggfunc='size')
print (pt_desc)

a  b  c  d
0  0  0  0    21
         1    22
         2     8
         3    14
      1  1     2
         2    18
         3    30
      2  2     3
         3     7
   1  0  0     6
         1     3
      1  1     5
         2     6
      2  3     6
1  1  0  0    27
      1  0     5
         1    23
      2  1     2
         2    23
         3    10
      3  3     4
   2  0  0     1
      1  0     1
      2  1     1
         2     1
         3     2
      3  3     1
2  1  2  1     2
         2     1
      3  2     1
         3     1
   2  0  0    12
      1  0    14
         1     1
      2  1    29
         2    11
      3  1     1
         2    27
         3    23
   3  0  0     1
      1  0     8
      2  0     2
         1     8
      3  1     2
         2     5
         3     8
3  3  0  0    10
      1  0    12
      2  0     5
         1    12
      3  1    12
         2    21
         3    19
dtype: int64

<em>zscore</em> melakukan normalisasi data berdasarkan?

In [43]:
df_zscore = pd.DataFrame()
for col in cols:
    df_zscore[col] = (df[col] - df[col].mean())/df[col].std(ddof=0)
print(df_zscore)

            a         b         c         d
0   -0.551988 -0.516396 -0.980021 -1.080611
1    0.130321  0.260251  0.867693  0.693260
2   -1.575451 -1.369579 -0.684964  3.075244
3   -1.234297 -1.012033 -0.909865 -0.110479
4    1.494938  1.456784  1.226226 -0.077039
5   -0.210833 -0.073950  0.856325  1.181113
6    1.494938  1.395866  1.723878  0.249479
7    0.130321  0.061763  1.018169  0.857810
8   -1.575451 -1.367900 -1.384695 -1.515813
9    0.130321  0.095402  0.094237 -0.152537
10   1.153784  1.054886  1.481655  0.302902
11  -0.893142 -0.853471 -0.209311  0.851637
12   1.494938  1.403142  1.344606  0.000632
13  -0.210833 -0.300081 -0.827824 -1.028887
14   1.153784  1.268574 -0.590866 -1.208007
15   0.471475  0.329224  0.011369 -0.468503
16   1.494938  1.484259  2.880872  1.008603
17  -0.893142 -0.912321 -0.774989 -0.385533
18   1.153784  1.091604  1.637788  0.416725
19   1.153784  1.028630  0.149918 -0.667961
20   1.494938  1.311434  1.990444  0.424378
21   1.494938  1.301373  1.317419 -0.017206
22   0.471475  0.537691  0.800234  0.270909
23  -0.551988 -0.409502 -0.910190 -0.966067
24  -1.234297 -1.037467 -1.285105 -1.341487
25   0.471475  0.568566 -0.361173 -0.817691
26  -0.893142 -1.125137 -0.568543  0.065977
27  -0.893142 -0.913264 -0.064904  1.167465
28  -0.210833 -0.085011 -0.464459 -0.552067
29  -1.234297 -1.125137 -0.781575  0.310387
..        ...       ...       ...       ...
470  1.153784  0.970738  1.482880  0.303794
471 -0.210833 -0.215998 -1.106837 -1.395018
472  0.812630  0.729635 -0.583330 -1.125255
473  1.153784  0.967991  2.253241  0.865402
474 -0.210833 -0.350149  0.647255  0.906763
475  1.494938  1.357004  1.991099  0.424808
476  1.153784  1.216546  0.510525 -0.405072
477 -1.575451 -1.388335 -1.045261  0.711272
478  0.812630  0.656886  1.384346  0.488529
479  1.494938  1.481646  1.800738  0.299908
480 -0.210833  0.006222  0.213452  0.337512
481 -1.234297 -1.347452 -0.536847  1.113241
482 -1.234297 -1.314749 -0.914755 -0.126520
483 -0.210833 -0.277128 -0.668684 -0.820059
484  0.471475  0.417137  0.446285 -0.060851
485 -1.575451 -1.384309 -0.603847  3.607471
486  0.130321  0.179075  1.020887  0.860783
487  0.471475  0.681840  0.282360 -0.214500
488  0.812630  0.834278 -1.019628 -1.483082
489  0.130321  0.075624 -0.138068 -0.406569
490 -0.893142 -1.108237 -0.672996 -0.162470
491  0.812630  1.003721 -0.226274 -0.832415
492  0.471475  0.448673 -0.150814 -0.620518
493 -0.210833 -0.098974  0.091594  0.177605
494 -0.551988 -0.539219 -0.545653 -0.368118
495 -0.210833 -0.037290  0.672180  0.939471
496 -0.893142 -0.878092 -0.362317  0.517006
497 -1.234297 -1.167676 -0.915691 -0.129592
498 -0.551988 -0.487795 -0.716176 -0.647827
499  0.130321  0.025582  1.114855  0.963540

[500 rows x 4 columns]

<em>dscale</em> melakukan normalisasi data berdasarkan?

In [45]:
df_dscale = pd.DataFrame()
for col in cols:
    p = df[col].max()
    q = len(str(abs(p)))
    df_dscale[col] = df[col]/10**q
print(df_dscale)

        a             b             c             d
0    0.04  2.507683e-17  1.227952e-17  3.069879e-15
1    0.06  3.650188e-17  6.257387e-17  1.042898e-14
2    0.01  1.252589e-17  2.031090e-17  2.031090e-14
3    0.02  1.778565e-17  1.418916e-17  7.094581e-15
4    0.10  5.410376e-17  7.233308e-17  7.233308e-15
5    0.05  3.158555e-17  6.226445e-17  1.245289e-14
6    0.10  5.320761e-17  8.587903e-17  8.587903e-15
7    0.06  3.358198e-17  6.666980e-17  1.111163e-14
8    0.01  1.255059e-17  1.264395e-18  1.264395e-15
9    0.06  3.407683e-17  4.152059e-17  6.920098e-15
10   0.09  4.819154e-17  7.928580e-17  8.809534e-15
11   0.03  2.011821e-17  3.325807e-17  1.108602e-14
12   0.10  5.331465e-17  7.555534e-17  7.555534e-15
13   0.05  2.825899e-17  1.642230e-17  3.284460e-15
14   0.09  5.133505e-17  2.287224e-17  2.541360e-15
15   0.07  3.751652e-17  3.926495e-17  5.609278e-15
16   0.10  5.450794e-17  1.173722e-16  1.173722e-14
17   0.03  1.925249e-17  1.786046e-17  5.953488e-15
18   0.09  4.873170e-17  8.353570e-17  9.281744e-15
19   0.09  4.780531e-17  4.303621e-17  4.781801e-15
20   0.10  5.196555e-17  9.313491e-17  9.313491e-15
21   0.10  5.181756e-17  7.481532e-17  7.481532e-15
22   0.07  4.058323e-17  6.073766e-17  8.676808e-15
23   0.04  2.664932e-17  1.418031e-17  3.545076e-15
24   0.02  1.741150e-17  3.975210e-18  1.987605e-15
25   0.07  4.103742e-17  2.912443e-17  4.160633e-15
26   0.03  1.612181e-17  2.347987e-17  7.826624e-15
27   0.03  1.923862e-17  3.718881e-17  1.239627e-14
28   0.05  3.142283e-17  2.631300e-17  5.262601e-15
29   0.02  1.612181e-17  1.768118e-17  8.840588e-15
..    ...           ...           ...           ...
470  0.09  4.695366e-17  7.931914e-17  8.813238e-15
471  0.05  2.949591e-17  8.827622e-18  1.765524e-15
472  0.08  4.340687e-17  2.307736e-17  2.884670e-15
473  0.09  4.691325e-17  1.002882e-16  1.114313e-14
474  0.05  2.752245e-17  5.657361e-17  1.131472e-14
475  0.10  5.263593e-17  9.315275e-17  9.315275e-15
476  0.09  5.056969e-17  5.285184e-17  5.872427e-15
477  0.01  1.224998e-17  1.050370e-17  1.050370e-14
478  0.08  4.233667e-17  7.663705e-17  9.579632e-15
479  0.10  5.446951e-17  8.797116e-17  8.797116e-15
480  0.05  3.276493e-17  4.476559e-17  8.953117e-15
481  0.02  1.285139e-17  2.434264e-17  1.217132e-14
482  0.02  1.333247e-17  1.405606e-17  7.028031e-15
483  0.05  2.859664e-17  2.075404e-17  4.150808e-15
484  0.07  3.880980e-17  5.110326e-17  7.300466e-15
485  0.01  1.230919e-17  2.251891e-17  2.251891e-14
486  0.06  3.530772e-17  6.674380e-17  1.112397e-14
487  0.07  4.270377e-17  4.664126e-17  6.663037e-15
488  0.08  4.494624e-17  1.120145e-17  1.400181e-15
489  0.06  3.378589e-17  3.519730e-17  5.866217e-15
490  0.03  1.637042e-17  2.063667e-17  6.878889e-15
491  0.08  4.743887e-17  3.279636e-17  4.099545e-15
492  0.07  3.927371e-17  3.485037e-17  4.978624e-15
493  0.05  3.121742e-17  4.144864e-17  8.289729e-15
494  0.04  2.474110e-17  2.410293e-17  6.025733e-15
495  0.05  3.212483e-17  5.725207e-17  1.145041e-14
496  0.03  1.975602e-17  2.909330e-17  9.697768e-15
497  0.02  1.549603e-17  1.403057e-17  7.015287e-15
498  0.04  2.549758e-17  1.946132e-17  4.865329e-15
499  0.06  3.304974e-17  6.930159e-17  1.155026e-14

[500 rows x 4 columns]

<em>minmax</em> melakukan normalisasi data berdasarkan?

In [54]:
df_minmax = pd.DataFrame()
for col in cols:
    df_minmax[col]=(df[col]-df[col].min())/(df[col].max()-df[col].min())
print(df_minmax)

            a         b         c         d
0    0.111111  0.109633  0.075593  0.161384
1    0.000000  0.013181  0.000000  0.005163
2    1.000000  0.874084  0.383196  0.145903
3    0.666667  0.601146  0.057381  0.005439
4    0.111111  0.123949  0.019586  0.029013
5    0.888889  0.772128  0.252248  0.097751
6    0.555556  0.514472  0.149241  0.085336
7    0.222222  0.209448  0.254757  0.376652
8    0.111111  0.100436  0.092447  0.201218
9    0.111111  0.188847  0.259363  0.595724
10   0.222222  0.203900  0.229482  0.336828
11   0.333333  0.297114  0.259523  0.278191
12   0.666667  0.699578  0.407243  0.241696
13   0.444444  0.433880  0.072173  0.037488
14   0.000000  0.040913  0.133909  0.638150
15   0.888889  0.788665  0.594332  0.277422
16   0.333333  0.407661  0.226807  0.239529
17   0.777778  0.753665  0.234421  0.104402
18   0.000000  0.099691  0.108245  0.516835
19   0.222222  0.224343  0.280384  0.417032
20   0.555556  0.487561  0.503001  0.364040
21   0.444444  0.471732  0.048892  0.015477
22   1.000000  0.893748  0.326429  0.119070
23   1.000000  0.870677  0.813621  0.349365
24   0.222222  0.304602  0.329661  0.494675
25   1.000000  0.948962  0.546027  0.222873
26   0.555556  0.572874  0.063373  0.017687
27   0.111111  0.103814  0.145617  0.326886
28   0.000000  0.091874  0.170439  0.810828
29   0.111111  0.114978  0.085145  0.183961
..        ...       ...       ...       ...
470  1.000000  0.889380  0.335666  0.123436
471  0.111111  0.114660  0.026003  0.044178
472  0.777778  0.802788  0.540634  0.285336
473  0.222222  0.287121  0.324202  0.486074
474  0.333333  0.360803  0.155860  0.155687
475  0.666667  0.579912  0.148578  0.067023
476  0.333333  0.422972  0.226836  0.239563
477  0.111111  0.161907  0.030247  0.054209
478  0.444444  0.451303  0.253758  0.209158
479  0.444444  0.515298  0.478036  0.421191
480  0.222222  0.233744  0.201760  0.293146
481  0.888889  0.775181  0.447446  0.200274
482  0.888889  0.844102  0.778659  0.374234
483  0.333333  0.397477  0.223516  0.235639
484  1.000000  0.873064  0.733758  0.311614
485  0.777778  0.796839  0.473263  0.245528
486  0.555556  0.524446  0.421557  0.299875
487  0.111111  0.108695  0.128873  0.287313
488  0.888889  0.856406  0.336257  0.141875
489  0.444444  0.485685  0.099617  0.063433
490  0.888889  0.796073  0.551065  0.254697
491  0.555556  0.530484  0.164268  0.097175
492  0.888889  0.832451  0.429795  0.191004
493  0.000000  0.112091  0.022490  0.111474
494  1.000000  0.935294  0.924848  0.401942
495  0.666667  0.635936  0.237539  0.127097
496  0.555556  0.486447  0.060113  0.015118
497  0.000000  0.106071  0.183374  0.871970
498  0.333333  0.389664  0.030220  0.007212
499  0.444444  0.500950  0.346021  0.296384

[500 rows x 4 columns]