In [2]:
import pandas as pd

In [ ]:
a = pd.Series([1,2,3,4,5],index=['pertamax','b','c','d','e'])

In [ ]:
print(a)

In [ ]:
print(a[['c','e']])

In [ ]:
df = pd.DataFrame([[1,2,3,4],[5,6,7,8],[9,3,4,5],[4,5,7,5],[6,7,8,9],[7,4,6,5]],columns=['a','b','c','d'])

In [ ]:
print(df)

In [ ]:
print(df.columns)

In [ ]:
print(df['a'])

In [ ]:
print(df[['a','b']])

In [ ]:
print(df[['a','b']].iloc[1])

In [ ]:
print(df[['a','b']].iloc[1:4])

In [ ]:
print(df.shape)

In [ ]:
print(df.values)

In [ ]:
for x in df.values:
    if x[1]>5:
        print(x[1],x[2])

In [8]:
data = []
for x in range(100):
    if(x%2==0):
        data.append([x,x*2,(x*10/2),((x*100)-(x*10/3))])
    else:
        data.append([x,x*6,(x*10/4),((x*560)-(x*10/7))])
df = pd.DataFrame(data)

In [9]:
df

     0    1      2             3
0    0    0    0.0      0.000000
1    1    6    2.5    558.571429
2    2    4   10.0    193.333333
3    3   18    7.5   1675.714286
4    4    8   20.0    386.666667
..  ..  ...    ...           ...
95  95  570  237.5  53064.285714
96  96  192  480.0   9280.000000
97  97  582  242.5  54181.428571
98  98  196  490.0   9473.333333
99  99  594  247.5  55298.571429

[100 rows x 4 columns]

In [6]:
df.shape

(100, 4)

In [10]:
from random import randint,uniform

In [ ]:
randint(400,450)+(randint(1,999)/1000)

In [ ]:
data = []
for x in range(100):
    data.append([x,(x*2)*uniform(1,5),(x*10/2)+randint(-10,50),((x*100)-(x*10/3))*uniform(1,2)])
df = pd.DataFrame(data)

In [ ]:
print(df)

In [ ]:
df.describe()

In [ ]:
for x in ['pearson','kendall','spearman']:
    print(x,df.corr(method=x),sep="\n",end="\n\n")

In [ ]:
data = []
for x in range(100):
    data.append([1,2,3,4])
df = pd.DataFrame(data)

In [ ]:
df.cov()

In [ ]:
df.diff()

In [ ]:
df.var()